<h3>books</h3>

<div *ngFor="let book of books">
  <ul>
    <li><label>id: </label>{{book.id}}</li>
    <li><label>price: </label>{{book.price}}</li>
    <li><label>quantity: </label>{{book.quantity}}</li>
    <li><label>status: </label>{{book.status}}</li>
    <form #buyBookForm="ngForm" (ngSubmit)="buyBook(delivery.value,book,quantity.value)">
      <input #quantity type="number" name="quantity" min="1" max="100"><br>
      <input #delivery type="radio" name="delivery" value="Home"> Home
      <input #delivery type="radio" name="delivery" value="At shop" checked> At shop<br>
      <button>Buy</button>
    </form>
  </ul>
</div>
