<h3>books</h3>

<div *ngFor="let book of books">
  <ul>
    <li><label>id: </label>{{book.id}}</li>
    <li><label>price: </label>{{book.price}}</li>
    <li><label>quantity: </label>{{book.quantity}}</li>
    <li><label>status: </label>{{book.status}}</li>
    <button (click)="logout({{book.id}}delivery.value,{{book}},quantity)">Buy</button>
    <input #quantity type="number" name="quantity" min="1" max="100"><br>
    <input #{{book.id}}delivery type="radio" name="{{book.id}}delivery" value="Home"> Home
    <input #{{book.id}}delivery type="radio" name="{{book.id}}delivery" value="At shop" checked> At shop<br>
  </ul>
</div>
